$bg: #202020;
$decorative: #5CB3DD;
$primary: lightgray;
$secondary: gray;
$dark: #2c2c2c;
$selected: #3c3c3c;
$secondary-dark: #404040;
$lang-selected: #555555;
$weak: white;
$strong: black;
$wrong: tomato;
$correct: limegreen;